.Upload{
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: -webkit-fill-available;
    padding: 6% 4%;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation-name: animateup;
    animation-duration: 380ms;
    animation-timing-function: ease-in-out ;
    animation-fill-mode: both;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 50px lightslategrey;
    height: 90%;
}

.horizontalLine{
    position: absolute;
    top: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    justify-self: center;
    cursor: grab;
}

@keyframes animateup {
    from{
        bottom: -1000px;
        /* opacity: 0; */
    }
    to{
        bottom: 0; 
        /* opacity: 1; */
    }
}
@keyframes animatedown {
    from{
        bottom: 0; 
        /* opacity: 1; */
    }
    to{
        bottom: -1000px;
        /* opacity: 0; */
    }
}

.upload-top{
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow: auto;
    margin-bottom: 30px;
}
.upload-top::-webkit-scrollbar{
    width: 3px;

}

/* .upload-top::-webkit-scrollbar-track {
    border-radius: 10px;

  }
  

.upload-top::-webkit-scrollbar-thumb {
    background: #333D55;
    border-radius: 10px;
  } */


.input-field select{
    font-size: 20px;
    width: 100%;
    height: -webkit-fill-available;
    outline: none;
    border: none;
    color: #424A6B;
    background: white;
}

.input-field select:focous{
    border: none;
    outline: none;
}









.upload-bottom{
    display: flex;
    justify-content: space-evenly;
}



.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.close-btn{
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    border: 2.5px solid #333D55;
    border-radius: 5px;
    color: #333D55;
}

.upload-btn{
    width: 120px;
    height: 40px;
    color: white;
    background: #333D55;
    border-radius: 5px;
}
