.Dashboard{
    padding: 0 10px;
    padding-bottom: 20px;
    /* width:-webkit-fill-available; */
}

.recent-sec-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    padding: 20px 0;
}
.recent-sec-bottom{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.colage{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}